<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gurpster.facapemobile">

    <!-- permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />


    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!--/ permissions -->

    <application
        android:name=".StartApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round_"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round_"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
            android:name=".Main"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activities.DrawerActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".view.activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GradeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activities.SendEmailActivity"
            android:label="@string/title_activity_send_email"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.activities.SubjectInfoActivity"
            android:label="@string/title_activity_subject_info" />
        <activity
            android:name=".view.activities.AboutActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activities.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.activities.PlaceActivity" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".guest.GuestActivity"
            android:label="@string/title_activity_guest"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activities.SubjectDetailActivity"
            android:label="@string/title_activity_subject_detail"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.activities.DebtWebViewActivity"
            android:label="@string/title_activity_debt_web_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/SettingsTheme" />
        <activity
            android:name="com.thefinestartist.finestwebview.FinestWebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.WebView" />

        <service
            android:name=".service.InitDataService"
            android:exported="false"
            android:label="InitDataService">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="INIT_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name=".service.GradeService"
            android:exported="false"
            android:label="GradeService">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="GRADE_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name=".service.NotificationService"
            android:exported="false"
            android:label="AlarmService">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="NOTIFICATION_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name=".view.ScheduleWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name=".view.ScheduleWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name=".view.widget.ScheduleListWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name=".service.AlarmService"
            android:exported="false" />
        <!--/ services -->

        <!-- <receiver android:name=".broadcast.InternetConnectionBroadcast" -->
        <!-- android:label="InternetConnectionBroadcast"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="" -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

        <!-- receivers -->

        <receiver android:name=".view.ScheduleWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/schedule_widget_config" />
            <meta-data
                android:name="LauncherMetadata.Requirements.Scrollable"
                android:value="true" />
        </receiver>
        <receiver android:name=".view.widget.ScheduleListWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/schedule_list_widget_config" />
            <meta-data
                android:name="LauncherMetadata.Requirements.Scrollable"
                android:value="true" />
        </receiver>
        <receiver android:name=".view.ScheduleWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/schedule_widget_config" />
            <meta-data
                android:name="LauncherMetadata.Requirements.Scrollable"
                android:value="true" />
        </receiver>
        <receiver
            android:name=".receiver.AlarmReceiver"
            android:exported="false"
            android:label="AlarmReceiver"
            android:process=":remote" />


        <receiver
            android:name=".receiver.BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.OnTimeChangeReceiver"
            android:exported="false">
            <intent-filter android:priority="2">
                <action android:name="android.intent.action.TIME_SET"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.WifiReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <!--/ receivers -->

        <!-- meta-data -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!--/ meta-data -->

    </application>
</manifest>